
ul{
    list-style-type: none;
    padding: 10px;
    overflow: hidden;
    background-color: #333333;
}

li{
    float: right;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#e1{
    font-size:30px;
    padding: 2px;
    margin:auto;
}

#p0{
    text-align: center;
    word-spacing:70px ;
    font-family: 'Open Sans', sans-serif;
}

input,select,textarea{
    width: 15%;
    border: 2px solid black;
    padding-bottom: 8px;
}

#first{
    background-color:rgb(211, 217, 218);
    position: relative;
    padding: 100px;
}

#img1{
    margin-left: -110px;

}

#pr1{
    text-align: center;
    font-size: 60px;
    position: absolute;
    top: 50px;
    right: 55%;
    font-family: 'Open Sans', sans-serif;
    color: #333333;

}
#pr2{
    font-size: 20px;
    text-align: left;
    position: absolute;
    top: 8px;
    right: 5%;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
}

h2{
    font-family: 'Open Sans', sans-serif;
    color: #333333;
}

#parent{
    width: 55%;
    height: 70%;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 60px;
    margin-left:200px;
}

 .child{
    width: 120px;
    border: 0px solid black;
    background-color:#2B3B87;
    text-align: center;
}

#parent1{
    width: 730px;
    height: 350px;
    display:grid;
    grid-template-columns: 100px 100px 100px 100px ;
    grid-template-rows: 100px 100px 100px 100px;
    grid-gap: 100px;
    margin-left: 300px;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
}

.child1{
    width:120%;
    height: 150%;
    text-align: center;
    border: 1px solid black;
    background-color:#62bdc3;
}

#p1{
    text-align: center;
    word-spacing: 5px;
    padding: 30px;
    font-family: 'Open Sans', sans-serif;
}

#footer{
    background-color:  #131a22;
    display: grid;
    grid-template-rows: auto auto auto auto auto  auto auto auto auto;
    grid-template-columns: auto auto auto auto;
    text-align: left;
    grid-gap: 20px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-left:120px;
    padding-top: 50px;
    padding-bottom: 30px;
    
}
